<%= form_for(@toping) do |f| %>
  <% if @toping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@toping.errors.count, "error") %> prohibited this toping from being saved:</h2>

      <ul>
      <% @toping.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comanda_id %><br />
    <%= f.number_field :comanda_id %>
  </div>
  <div class="field">
    <%= f.label :extra_id %><br />
    <%= f.number_field :extra_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
