<h1>Listing topings</h1>

<table>
  <tr>
    <th>Comanda</th>
    <th>Extra</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topings.each do |toping| %>
  <tr>
    <td><%= toping.comanda_id %></td>
    <td><%= toping.extra_id %></td>
    <td><%= link_to 'Show', toping %></td>
    <td><%= link_to 'Edit', edit_toping_path(toping) %></td>
    <td><%= link_to 'Destroy', toping, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Toping', new_toping_path %>
