<p id="notice"><%= notice %></p>

<p>
  <b>Comanda:</b>
  <%= @toping.comanda_id %>
</p>

<p>
  <b>Extra:</b>
  <%= @toping.extra_id %>
</p>


<%= link_to 'Edit', edit_toping_path(@toping) %> |
<%= link_to 'Back', topings_path %>
