<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @usuari.nom %>
</p>

<p>
  <b>Pass:</b>
  <%= @usuari.pass %>
</p>

<p>
  <b>Saldo:</b>
  <%= @usuari.saldo %>
</p>


<%= link_to 'Edit', edit_usuari_path(@usuari) %> |
<%= link_to 'Back', usuaris_path %>
