<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @extra.nom %>
</p>

<p>
  <b>Preu:</b>
  <%= @extra.preu %>
</p>


<%= link_to 'Edit', edit_extra_path(@extra) %> |
<%= link_to 'Back', extres_path %>
