<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @botiga.nom %>
</p>

<p>
  <b>Lat:</b>
  <%= @botiga.lat %>
</p>

<p>
  <b>Lang:</b>
  <%= @botiga.lang %>
</p>


<%= link_to 'Edit', edit_botiga_path(@botiga) %> |
<%= link_to 'Back', botigues_path %>
