<%= form_for(@extra_disponible) do |f| %>
  <% if @extra_disponible.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extra_disponible.errors.count, "error") %> prohibited this extra_disponible from being saved:</h2>

      <ul>
      <% @extra_disponible.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :beguda_id %><br />
    <%= f.number_field :beguda_id %>
  </div>
  <div class="field">
    <%= f.label :extra_id %><br />
    <%= f.number_field :extra_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
