<p id="notice"><%= notice %></p>

<p>
  <b>Beguda:</b>
  <%= @extra_disponible.beguda_id %>
</p>

<p>
  <b>Extra:</b>
  <%= @extra_disponible.extra_id %>
</p>


<%= link_to 'Edit', edit_extra_disponible_path(@extra_disponible) %> |
<%= link_to 'Back', extra_disponibles_path %>
