<p id="notice"><%= notice %></p>

<p>
  <b>Nom:</b>
  <%= @beguda.nom %>
</p>

<p>
  <b>Preutall:</b>
  <%= @beguda.preuTall %>
</p>

<p>
  <b>Preugrande:</b>
  <%= @beguda.preuGrande %>
</p>

<p>
  <b>Preuventi:</b>
  <%= @beguda.preuVenti %>
</p>


<%= link_to 'Edit', edit_beguda_path(@beguda) %> |
<%= link_to 'Back', begudes_path %>
